@model IEnumerable<FavoriteRecipeInfoModel>
@{
    ViewBag.Title = "My Favorite Recipes";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-start row">
    @foreach (var r in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <a asp-controller="Recipe" asp-action="Details" asp-route-id="@r.Recipe.Id" class="nav-link text-dark">
                    <h5 class="card-title mt-1">@r.Recipe.Title</h5>
                    <img class="card-img-top" src="data:image/png;base64,@r.Recipe.Image" alt="Image">
                    <p class="mb-0"><span class="fw-bold">Category: </span>@r.Recipe.CategoryName</p>
                    @if (r.Recipe.Description != null && !string.IsNullOrEmpty(r.Recipe.Description))
                    {
                        <p class="mb-0"><span class="fw-bold">Description: </span>@r.Recipe.Description</p>
                    }
                    <p class="mb-0"><span class="fw-bold">Published: </span>@r.Recipe.CreationDate</p>
                </a>
                <a asp-controller="Recipe" asp-action="DeleteRecipe" asp-route-id="@r.Recipe.Id" class="btn btn-danger mb-2 w-100 p-3 fw-bold">Delete</a>

            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
