@model IEnumerable<RecipeInfoViewModel>

@if (Model.Any())
{
    <div class="text-center row">
        @foreach (var r in Model)
        {
            <div class="card text-center col-4" style="width: 20rem; ">
                <div class="card-body">
                    <a asp-controller="Recipe" asp-action="Details" asp-route-id="@r.Id" class="nav-link text-dark">
                        <h5 class="card-title mt-1">@r.Title</h5>
                        <img class="card-img-top" src="data:image/png;base64,@r.Image" alt="Image" style="width: 250px; height: 150px;">
                        <p class="mb-0"><span class="fw-bold">Category: </span>@r.CategoryName</p>
                        @if (r.Description != null && !string.IsNullOrEmpty(r.Description))
                        {
                            <p class="mb-0"><span class="fw-bold">Description: </span>@r.Description</p>
                        }
                        <p class="mb-0"><span class="fw-bold">Published: </span>@r.CreationDate</p>
                    </a>
                </div>
            </div>
        }
    </div>
}
@if (Model.Any() == false)
{
    <h4 class="text-center">No result!</h4>
}
