@model IEnumerable<CommentInfoModel>
@{
    ViewBag.Title = $"All Comments About {Model.FirstOrDefault().RecipeTitle}";
}

<h2 class="title">@ViewBag.Title</h2>
<hr />

<div class="text-center col">
    @foreach (var c in Model)
    {
        <div class="card row-4" style="width: 20rem;">
            <div class="card-body">
                <p class="lh-lg mb-0"><span class="fw-bold">From: </span>@c.UserUsername :</p>
                <p class="lh-lg mb-0 fw-bold"><span class="fw-bold"></span>@c.Content</p>
                <p class="lh-lg mb-0"><span class="fw-bold">Published: </span>@c.CreationDate</p>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-area="User" asp-controller="Comment" asp-action="DeleteComment" asp-route-id="@c.Id" class="btn btn-danger mb-2 w-100 p-3 fw-bold">Delete</a>
                }
            </div>
        </div>
        <br/>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}