@model RecipeQueryModel
@{
    ViewBag.Title = "All Recipes";
}
<h2 class="title">Recipes</h2>
<hr />

<partial name="_SearchPartial" />

<h5 class="text-start">Filter by:</h5>
<li class="nav-item d-flex dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Category:
    </a>
    <ul class="dropdown-menu">
        @foreach (var item in ViewBag.Categories)
        {
            <li class="nav-item text-center">
                <a asp-area="User" asp-controller="Recipe" asp-action="AllRecipes" asp-route-category="@item.Name" class="nav-link text-dark">@item.Name</a>
            </li>
        }
    </ul>
    <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Published Date:
    </a>
    <ul class="dropdown-menu">
        <li class="nav-item text-center">
            <a asp-area="User" asp-controller="Recipe" asp-action="AllRecipes" asp-route-sorting="Newest" class="nav-link text-dark">Newest</a>
            <a asp-area="User" asp-controller="Recipe" asp-action="AllRecipes" asp-route-sorting="Oldest" class="nav-link text-dark">Oldest</a>
        </li>
    </ul>
</li>

<partial name="_RecipesPartial" model="Model.Recipes" />

<br>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        @if (Model.CurrentPage > 1)
        {
            <li class="page-item">
                @{
                    int previousPage = Model.CurrentPage - 1;            
                }
                <a class="page-link"
                   asp-area="User"
                   asp-controller="Recipe"
                   asp-action="AllRecipes"
                   asp-route-currentPage="@previousPage"
                   asp-route-sorting="@Model.Sorting"
                   asp-route-category="@Model.Category"
                >Previous</a>
            </li>            
        }
        @for(int i=1;i<=Model.PagesCount;i++)
        {
            <li class="page-item"><a class="page-link" 
                asp-area="User" 
                asp-controller="Recipe" 
                asp-action="AllRecipes"
                asp-route-currentPage="@i"
                asp-route-sorting="@Model.Sorting"
                asp-route-category="@Model.Category">
                   @i</a>
            </li>
        }
        @if (Model.CurrentPage < Model.PagesCount)
        {            
            <li class="page-item">
                @{
                    int nextPage = Model.CurrentPage + 1;
                }
                <a class="page-link"
                   asp-area="User"
                   asp-controller="Recipe"
                   asp-action="AllRecipes"
                   asp-route-currentPage="@nextPage"
                   asp-route-sorting="@Model.Sorting"
                   asp-route-category="@Model.Category">
                   Next</a>
            </li>
        }
    </ul>
</nav>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}