@model IEnumerable<QueryInfoModel>
@{
    ViewBag.Title = "All Queries";
}

<h2 class="title">Admin</h2>
<br>
<h3 class="title">@ViewBag.Title</h3>
<hr />

@if (Model.Any())
{
    <div class="text-center row">
        @foreach (var q in Model)
        {
            <div class="card text-center col-4" style="width: 20rem; ">
                <div class="card-body">
                    <h5 class="card-title mt-1">@q.Username</h5>
                    <p class="mb-0"><span class="fw-bold">Descrioption: </span>@q.Description</p>
                    <br>
                    <a asp-area="Admin" asp-controller="Home" asp-action="AddUserToRole" asp-route-username="@q.Username" asp-route-roleName="Admin" asp-route-queryId="@q.Id" class="btn btn-success mb-2 w-100 p-3 fw-bold">Confirm</a>
                    <a asp-area="Admin" asp-controller="Home" asp-action="RemoveQuery" asp-route-id="@q.Id" class="btn btn-danger mb-2 w-100 p-3 fw-bold">Decline</a>
                </div>
            </div>
        }
    </div>
}
@if (Model.Any() == false)
{
    <h4 class="text-center">No queries!</h4>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

