@model RecipeInfoViewModel
@{
    ViewBag.Title = Model.Title;
}

<div class="row">
    <div class="card w-100">
        <div class="card-body">
            <h3 class="card-title">@Model.Title</h3>
            <img class="img-fluid" src="data:image/png;base64,@Model.Image" alt="Image">
            <br/>
            <p class="mb-0"><span class="fw-bold">Published on: </span>@Model.CreationDate</p>
            <br/>
            <p class="mb-0"><span class="fw-bold">Category: </span>@Model.CategoryName</p>
            <br />
            <p class="mb-0"><span class="fw-bold">Description: </span>@Model.Description</p>
            <br />
            <p class="mb-0"><span class="fw-bold">Ingredients: </span>@Model.Ingredients</p>
            <br />
            <p class="lh-lg mb-0"><span class="fw-bold">Instructions: </span>@Model.Instructions</p>
            <br />
        </div>

        @if (User.Id() == Model.CreatorId)
        {
            <a asp-controller="Recipe" asp-action="EditRecipe" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
            <a asp-controller="Recipe" asp-action="DeleteRecipe" asp-route-id="@Model.Id" class="btn btn-danger mb-2 w-100 p-3 fw-bold">Delete</a>
        }
        @if (User.Id() != Model.CreatorId)
        {
            @if (Model.IsInUserFavoriteCollection == false)
            {
                <a asp-controller="FavoriteRecipe" asp-action="AddFavoriteRecipe" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Add to favorites</a>
            }
        }
        <a asp-controller="Recipe" asp-action="AllRecipes" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Back to All Recipes</a>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}